.elementor-9 .elementor-element.elementor-element-c89a05e {
 text-align:right;
}
.elementor-9 .elementor-element.elementor-element-c89a05e.elementor-widget-heading .elementor-heading-title {
 color:#6ec1e4;
}
.elementor-9 .elementor-element.elementor-element-c89a05e .elementor-heading-title {
 text-shadow:60px 60px 60px rgba(0,0,0,0.3);
}
.elementor-9 .elementor-element.elementor-element-7543722 {
 text-align:right;
}
.elementor-9 .elementor-element.elementor-element-7543722.elementor-widget-heading .elementor-heading-title {
 color:#6ec1e4;
}
.elementor-9 .elementor-element.elementor-element-7543722 .elementor-heading-title {
 text-shadow:60px 60px 60px rgba(0,0,0,0.3);
}
.elementor-9 .elementor-element.elementor-element-f6d9758 {
 line-height:0.5em;
}
.elementor-9 .elementor-element.elementor-element-54f54ce {
 line-height:0.5em;
}
